<a href="https://colab.research.google.com/github/sHaRqKh/Loan-Approval/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loan Prediction

## Problem
A model that predict the user is eligible for loan or not When the company receives a loan application, the company has to make a decision for loan approval based on the applicant’s profile. Two types of risks are associated with the bank’s decision:

• If the applicant is likely to repay the loan, then not approving the loan results in a loss of business to the company

• If the applicant is not likely to repay the loan, i.e. he/she is likely to default, then approving the loan may lead to a financial loss for the company

## Data
Rows: 39717

Source: Kaggle

Jupyter Notebook: Github - Sharique Ahmad

In [23]:
#Importing Imp library
import pandas as pd
import numpy as np

In [72]:
#Accessing dataset
df = pd.read_csv(r"/content/drive/MyDrive/loan.csv",  sep=',', index_col=False, dtype='unicode')

In [4]:
df.head()

        id member_id  ... total_bc_limit total_il_high_credit_limit
0  1077501   1296599  ...            NaN                        NaN
1  1077430   1314167  ...            NaN                        NaN
2  1077175   1313524  ...            NaN                        NaN
3  1076863   1277178  ...            NaN                        NaN
4  1075358   1311748  ...            NaN                        NaN

[5 rows x 111 columns]

In [65]:
#Description
df.describe()

            id member_id  ... total_bc_limit total_il_high_credit_limit
count    39717     39717  ...              0                          0
unique   39717     39717  ...              0                          0
top     373422   1223623  ...            NaN                        NaN
freq         1         1  ...            NaN                        NaN

[4 rows x 111 columns]

In [73]:
#for infer the type of data in each
inf = df.dtypes

In [68]:
#Checking for null vlaue
n = df.isna().sum()

In [10]:
n

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [69]:
#Column names
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

###Droping the member id and id because they are unique

In [70]:
df.drop(['id', 'member_id'], inplace = True, axis = 1)

####There so many coulumn with no entries we have to drop those columns

#####Here you can see that I use 5 times same code because it's doesn't give me by
#####running 1 time so you have to run it 5 times and I am not able find an alternate

In [71]:
for i in range (0, 109):
  try:
    d =  df.columns
    if df.iloc[:, i:i+1].isna().sum()[0] > 12000:
       df.drop(d[i], inplace = True, axis = 1)
  except IndexError as NameError:
        pass

In [37]:
for i in range (0, 109):
  try:
    d =  df.columns
    if df.iloc[:, i:i+1].isna().sum()[0] > 12000:
       df.drop(d[i], inplace = True, axis = 1)
  except IndexError as NameError:
        pass

In [38]:
for i in range (0, 109):
  try:
    d =  df.columns
    if df.iloc[:, i:i+1].isna().sum()[0] > 12000:
       df.drop(d[i], inplace = True, axis = 1)
  except IndexError as NameError:
        pass

In [39]:
for i in range (0, 109):
  try:
    d =  df.columns
    if df.iloc[:, i:i+1].isna().sum()[0] > 12000:
       df.drop(d[i], inplace = True, axis = 1)
  except IndexError as NameError:
        pass

In [40]:
for i in range (0, 109):
  try:
    d =  df.columns
    if df.iloc[:, i:i+1].isna().sum()[0] > 12000:
       df.drop(d[i], inplace = True, axis = 1)
  except IndexError as NameError:
        pass

In [41]:
#Checking again nan value presence
n =  df.isna().sum()

In [43]:
#I use simple Imputer for null value imputer
#For Imputation nan value
from sklearn.impute import SimpleImputer

In [44]:
#There are relaibility if I apply mode in all feature
mode_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [45]:
df['emp_title'] = pd.DataFrame(mode_imputer.fit_transform(df[['emp_title']]))
df['emp_length'] = pd.DataFrame(mode_imputer.fit_transform(df[['emp_length']]))
df['revol_util'] = pd.DataFrame(mode_imputer.fit_transform(df[['revol_util']]))
df['title'] = pd.DataFrame(mode_imputer.fit_transform(df[['title']]))
df['last_pymnt_d'] = pd.DataFrame(mode_imputer.fit_transform(df[['last_pymnt_d']]))
df['last_credit_pull_d'] = pd.DataFrame(mode_imputer.fit_transform(df[['last_credit_pull_d']]))
df['collections_12_mths_ex_med'] = pd.DataFrame(mode_imputer.fit_transform(df[['collections_12_mths_ex_med']]))
df['chargeoff_within_12_mths'] = pd.DataFrame(mode_imputer.fit_transform(df[['chargeoff_within_12_mths']]))
df['pub_rec_bankruptcies'] = pd.DataFrame(mode_imputer.fit_transform(df[['pub_rec_bankruptcies']]))
df['tax_liens'] = pd.DataFrame(mode_imputer.fit_transform(df[['tax_liens']]))

In [ ]:
#Checking the null value again
n =  df.isna().sum()

Now, there no null value present in dataset

In [60]:
df.dtypes

loan_amnt                     object
funded_amnt                   object
funded_amnt_inv               object
term                          object
int_rate                      object
installment                   object
grade                         object
sub_grade                     object
emp_title                     object
emp_length                    object
home_ownership                object
annual_inc                    object
verification_status           object
issue_d                       object
loan_status                   object
pymnt_plan                    object
url                           object
purpose                       object
title                         object
zip_code                      object
addr_state                    object
dti                           object
delinq_2yrs                   object
earliest_cr_line              object
inq_last_6mths                object
open_acc                      object
pub_rec                       object
revol_bal                     object
revol_util                    object
total_acc                     object
initial_list_status           object
out_prncp                     object
out_prncp_inv                 object
total_pymnt                   object
total_pymnt_inv               object
total_rec_prncp               object
total_rec_int                 object
total_rec_late_fee            object
recoveries                    object
collection_recovery_fee       object
last_pymnt_d                  object
last_pymnt_amnt               object
last_credit_pull_d            object
collections_12_mths_ex_med    object
policy_code                   object
application_type              object
acc_now_delinq                object
chargeoff_within_12_mths      object
delinq_amnt                   object
pub_rec_bankruptcies          object
tax_liens                     object
dtype: object

In [63]:
# Now, I convert 'Object' into 'float64' type. 
df = df.astype('float64')

ValueError: ignored

###Visualization
###Univariate Analysis

In [46]:
import seaborn as sns
sns.set_style('darkgrid')

In [59]:
sns.boxplot(x = "loan_status", y = "loan_amnt", data = df)

TypeError: ignored